*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.primary-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.lobster-regular{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.secondary-font{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    font: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
}

.flex{
    display: flex;
}

.heading{
    font-size: 2.81rem;
    font-weight: 700;
    color: #121212;
    margin-bottom: 1.2rem;
    text-align: center;
}

.description{
    font-size: 1rem;
    line-height: 1.8rem;
    color: #707070;
    margin-bottom: 3.12rem;
    text-align: center;
}


/* main style */


/* header related style */
header{
    background-image: linear-gradient(to top,rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 0) 100%), url(../images/donate.png);
    max-width: 1440px;
    height: 669px;
    margin: 0 auto;
    padding: 174px 307px;
}

.header-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header>div>h1{
    font-size:4rem;
    font-weight:700 ;
    margin-bottom:1.2rem ;
    color: white;
    text-align: center;
    max-width: 826px;

}

header>div>p{
    font-size:1rem;
    margin-bottom:2rem ;
    color: white;
    text-align: center;
    max-width: 691px;
    line-height: 1.8rem;
}


.donate-container{
    max-width: 765px;
    padding-top: 130px;
    padding-bottom: 130px;
    margin: 0 auto;
    text-align: center;
    
}

.donate-info{
    justify-content: center;
    margin-bottom: 60px;
    font-size: 2rem;
    font-weight: 700;
    color: #707070;
    gap: 60px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.donate-info > h3{
    padding: 43px 23px;
    border-radius: 5px;
    background-color:#FAFAFA;
}

.donate-info > span{
    color: #FF5959;
    padding: 43px 23px;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.custom-tk{
    font-size: 1rem;
    line-height: 28px;
    color: #B3B3B3;
    margin-bottom: 10px;
    text-align: center;
}

.donate-container>hr{
    color: #DADADA;
    margin-bottom: 2rem;
    opacity: 20%;
}

.donate-plan>p{
    max-width: 691px;
    margin: 0 auto;
}

.donate-plan-card{
    justify-content: space-between;
    max-width: 1128px;
    margin: 0 auto;

}
.card-info{
    max-width: 360px;
    background-color:rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    margin: 50px 0 130px 0;
    padding: 83px 22px 54px 23px;
}

.card-info h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #121212;
    margin-bottom: 1rem;
}

.card-info img{
    margin-bottom: 2rem;
}

.bg-color{
    background-color: #FFF4D6;
}


.depend{
    justify-content: center;
    gap: 83px;
    max-width: 1032px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.depend img{
    max-width: 500px;
}

.depend-container{
    max-width: 492px;
}

.depend-container h2{
    text-align: left;
}
.depend-container p{
    text-align: left;
    margin-bottom: 1.2rem;
}



.survive{
    justify-content: center;
    flex-direction: row-reverse;
    gap: 83px;
    max-width: 1032px;
    margin: 0 auto;
    padding-bottom: 100px;

}
.survive img{
    max-width: 500px;
}

.survive-container{
    max-width: 492px;
}

.survive-container h2{
    text-align: left;
}
.survive-container p{
    text-align: start;
    margin-bottom: 1.2rem;
}

.update{
    max-width: 809px;
    margin-bottom: 130px;
    margin: 0 auto;
 
}
.update>p{
    max-width: 691px;
    margin: 0 auto;
}

.input-container{
    margin-top: 50px;
    padding: 76px 188px;
    background-color: #FFF4D6;
    justify-content: center;
    align-items: center;
}

input{
    padding: 14px 218px 14px 17px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #AA9F9F;
    line-height: 20px;
}

.input-container .btn{
    border-radius: 0 5px 5px 0px;
}


footer{
    margin-top: 130px;
    background-color: #0B0D17;
    padding: 43px 641px;
    text-align: center;
}

footer>h3{
    color: #FF5959;
    font-size: 2.3rem;
    line-height: 44px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}
footer>p{
    color: white;
    font-size: 1rem;
    line-height: 24px;
    color: #D9DBE1;
}