*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.primary-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

.secondary-font{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

