*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.primary-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.secondary-font{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    font: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #FF5959;
}

.flex{
    display: flex;
}

.heading{

}

.description{

}


/* main style */


/* header related style */
header{
    background-image: linear-gradient(to top,rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 0) 100%), url(../images/donate.png);
    max-width: 1440px;
    height: 669px;
    margin: 0 auto;
    padding: 174px 307px;
}

.header-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header>div>h1{
    font-size:4rem;
    font-weight:700 ;
    margin-bottom:1.2rem ;
    color: white;
    text-align: center;
    max-width: 826px;

}

header>div>p{
    font-size:1rem;
    margin-bottom:2rem ;
    color: white;
    text-align: center;
    max-width: 691px;
    line-height: 1.8rem;
}